.header, .container, .main-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .container{
    font-size: 40px;
}

.header{
    background: linear-gradient(90deg, rgba(102,34,0,1) 0%, rgba(205,130,17,1) 35%, rgba(255,209,0,1) 100%);
    transform: scale(1, 2);
    margin: 10px;
}

.main-container{
    height: fit-content;
    padding: 20px;
    border: 2px solid black;
    background: rgb(255, 153, 0);
}

.main-container:hover{
    background: rgb(209, 125, 0);
}

.functional-component{
    display: flex;
    gap: 15px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    border: 2px solid black;
}

.buttons, .table{
    border: 2px solid black;
    width: 50%;
    height: fit-content;
    padding: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button{
    height: 30px;
    width: 20%;
}

